	   body {
		background-color:black;
	   	color: white;
	   }


	.themeBTN {
	background-color: navy;
	color:white;
	padding: 5px;
	font-size: 17px;
	}

        

/*
	   .pgHeader { 
		color: white;
	   }  

	   p, h1,h2,h3,h4,h5,h6 {
	      color: white;
	   }
*/
