          ul {
             list-style-type: none;
             margin: 0;
             padding: 0;
             overflow: hidden;
             background-color: black;
             color:blac;
           }

           li {
               float: left;
               border-right:1px solid white;
           }

           li:last-child {
               border-right: none;
           }

           li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
           }

            li a:hover:not(.active) {
                background-color: darkgreen;
                color: white;
           }
	   /* li a:focus {
                background-color: maroon;
                color: lime;
           } */
	   li a:hover {
                background-color: maroon;
                color: yellow;
           }
	   body {
		background-color:gold;
	   }
	
           .active {
                background-color: maroon;
                color: white;
           }

           .conaggainer {
               position: absolute;
               top: 58px;
               right: 0px;
               display: inline-block;
               cursor: pointer;
           }

           .payrollNavBTN,  .recruitmentNavBTN,  .performanceNavBTN {
                background-color: navy;
                display: none;
           }


           .payrollNavBTN {
                position: absolute;
                top: 3.5em;
                right: 86.7em;
           }

           .recruitmentNavBTN {
                position: absolute;
                top: 7em;
                right: 84.5em;

           }
           .performanceNavBTN {
                position: absolute;
                top:  10.5em;
                right: 84.3em;
           }
	   .pgHeader { 
		color: black;
	   }  

	   .MyRECT {
	     display:none;		
	   }

	   p, h1,h2,h3,h4,h5,h6 {
	      color: black
	   }

           i {
	      color: white;
	   }

           i {
                position: absolute;
                top: 0em;
	        /* For Firefox (Recommended for DAHR) */
                right: 89.4rem;
            }

.tab {
  overflow: visible;
  border: 1px solid #ccc;
  background-color: black;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: darkgreen;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: maroon;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-top: none;
  height: 700px;
}
